form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

div {
  margin-bottom: 10px;
}

/* Topic: Pure CSS Custom Checkbox Style */

/* Issues with native checkboxes -> cause from browser */

:root {
  --form-control-color: rgb(214, 74, 23);
}

/* Label Styles */
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  /* style checkboxes with grid */
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

/* Custom Checkbox Style */
input[type="checkbox"] {
  /* Step 1: Hide the Native Checkbox Input */
  /* Add if not using autoprefixer */
  /* -webkit-appearance: none; */
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  /* Step 2: Custom Unchecked Checkbox Styles */
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.075em);
}

.form-control + .form-control {
  margin-top: 1em;
}

/* Step 3: Styling :checked vs Unchecked State */
input[type="checkbox"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 129ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Window High Contrast Mode (supporting forced-colors */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Creating the 'Checkmark' Shape */
input[type="checkbox"]::before {
  /* ...existing styles */

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Step 4: The :focus state */
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* Styles For :disabled Checkboxes */
:root {
  --form-control-disabled: #959495;
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* accent-color */
input[type="radio"].accent-color {
  accent-color: red;
}
