body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.125em;
}

.content {
  margin-top: 20px;
  padding: 3em;
  background-color: #ffffff;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.202);

  /* width: 50%; */
  width: max(200px, 50%, 50vh);
}

h2 {
  color: orangered;
  font-size: clamp(2rem, 5vw, 5rem);
}

p {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
}
